<a href="https://colab.research.google.com/github/kiryu-3/Prmn2023_DS/blob/main/Python/Python_Basic/question/PythonBasic_4_Question.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 第4章 課題

## 課題1

任意の誕生日を指定して、干支を出力できるようにしてください

以下のタプルをプログラムに必ず組み込んでください

In [1]:
junishi = ("申","酉","戌","亥","子","丑","寅","卯","辰","巳","午","未")

＜例＞ 1998年4月1日生まれの場合  
`1998年は24歳です`

＜hint＞ 西暦を12で割った余りによって、干支を割り出すことができます。  
上に示している`junishi`リストの要素番号が余りに対応しています。

In [2]:
# 入力用

## 課題2

任意の誕生日を指定して、星座を出力できるようにしてください

以下の二次元リストをプログラムに必ず組み込んでください

In [3]:
# [星座名 , 星座始まり月 , 星座始まり日] というseizaリスト
seiza = [    
        ["山羊座", 12, 22] , ["水瓶座", 1, 20] , ["魚座", 2, 19] ,   
        ["牡羊座", 3, 21] , ["牡牛座", 4, 20] , ["双子座", 5, 21] ,   
        ["双子座", 5, 21] , ["蟹座", 6, 22] , ["獅子座", 7, 23] ,     
        ["獅子座", 7, 23] , ["乙女座", 8, 23] , ["天秤座", 9, 23] , 
        ["天秤座", 9, 23] , ["蠍座", 10, 24] , ["射手座", 11, 23] ,          
]

＜例＞ 1998年4月1日生まれの場合  
`1998年は24歳です`

＜hint＞ ヒントではないですが、星座は以下の表のようにして分けられています。  

|星座|日時|
|:---| :--- |
|山羊座|12/22~1/19|
|水瓶座|1/20~2/18|
|魚座|2/19~3/20|
|牡羊座|3/21~4/19|
|牡牛座|4/20~5/20|
|双子座|5/21~6/21|
|蟹座|6/22~7/22|
|獅子座|7/23~8/22|
|乙女座|8/23~9/22|
|天秤座|9/23~10/23|
|蠍座|10/24~11/22|
|牡羊座|11/23~12/21|

In [4]:
# 入力用

## 課題3

これまで学んだ知識を使って、**ヒットアンドブロー**というゲームを作成してみましょう。  

ルールはここでは以下の通りとします。  
（参考：[AIZU ONLINE JUDGE](https://judge.u-aizu.ac.jp/onlinejudge/description.jsp?id=0226&lang=ja)）

* 出題者(CPU)と回答者(USER)に分かれて行う。
* 出題者は、**重複した数を含まない 4 桁の数字**(正解)を決める。
* 回答者は、その 4 桁の数字(回答)を言い当てる。
* 回答に対して、出題者は**ヒット**と**ブロー**の数でヒントを与える。正解までこれを繰り返す。

**ヒット**：数と桁位置の両方が同じであること  
**ブロー**：数だけが同じで桁位置が異なること

＜例＞ 解が `1234` で、回答が `1354` なら、出題者は「2 ヒット、1 ブロー」というヒントを与える。

＜hint＞以下の三点のエラー処理を行わないと、エラーが出る可能性があります。  

* USERが整数以外の値を入力した場合
* USERが4桁以外の整数以外を入力した場合
* USERが重複した4桁の整数を入力した場合

In [5]:
# 入力用

### 課題3 補足

#### isdigitメソッド

入力値が（型自体は文字列型になるのですが）整数かそれ以外の値かを見分けるためには、  
**`isdigit`メソッド**を使います。

In [6]:
test = [str(1998) , str(4.1) , "Chitose"]  # 型は文字列だが元は[整数 , 浮動小数点数 , 文字列] 

print(f"整数に適用すると {test[0].isdigit()} という結果が得られます")
print(f"浮動小数点数に適用すると {test[1].isdigit()} という結果が得られます")
print(f"文字列に適用すると {test[2].isdigit()} という結果が得られます")

整数に適用すると True という結果が得られます
浮動小数点数に適用すると False という結果が得られます
文字列に適用すると False という結果が得られます

#### CPU用リストの作成方法

重複のない4つの整数値が入ったリストを作成する方法は色々あります。  
**`random.sample()`**を使う例を以下では紹介します。

In [7]:
import random

answer_list = random.sample(range(0,10),k=4)
print(answer_list)

[4, 7, 1, 3]